{% extends 'base.html' %}

{% block content %}

<div class="dashboard-container">

    <h1 class="dashboard-title">
        Admin Dashboard
    </h1>


    <div class="stats-grid">

        <div class="stat-card">

            <h2>
                Revenue
            </h2>

            <p>
                ₹ {{ revenue }}
            </p>

        </div>

        <div class="stat-card">

            <h2>
                Orders
            </h2>

            <p>
                {{ total_orders }}
            </p>

        </div>

        <div class="stat-card">

            <h2>
                Users
            </h2>

            <p>
                {{ total_users }}
            </p>

        </div>

        <div class="stat-card">

            <h2>
                Products
            </h2>

            <p>
                {{ total_products }}
            </p>

        </div>

    </div>


    <div class="chart-box">

        <h2>
            Monthly Revenue
        </h2>

        <canvas id="salesChart"></canvas>

    </div>


    <div class="orders-box">

        <h2>
            Latest Orders
        </h2>

        {% for order in latest_orders %}

        <div class="order-row">

            <div>

                <strong>
                    Order #{{ order.id }}
                </strong>

            </div>

            <div>

                {{ order.user.username }}

            </div>

            <div>

                ₹ {{ order.total_price }}

            </div>

        </div>

        {% endfor %}

    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    const ctx = document.getElementById('salesChart');

    new Chart(ctx, {

        type: 'bar',

        data: {

            labels: {{ months| safe }},

        datasets: [{

            label: 'Revenue',

            data: {{ totals| safe }},

        borderWidth: 1

            }]

        },

        options: {

        responsive: true,

        scales: {

            y: {

                beginAtZero: true

            }

        }

    }

    });

</script>

{% endblock %}